image==1.5.27
matlab==0.1
matplotlib==3.0.0
NeedForCryptography==1.5
netifaces==0.10.9
numpy==1.15.2
opencv-python==3.4.4.19
packaging==19.2
pandas==0.25.1
psutil==5.6.4
pypiwin32==223
PyQt5==5.13.0
PyQt5-sip==12.7.0
pyqt5-tools==5.13.0.1.5
Qt.py==1.2.1
requests==2.22.0
sip==5.0.0
tools==0.1.9
scapy==2.4.3